
.onclick{
    height: 800px;
}
.login {
    position: absolute; 
}
.login button:hover {
    color: black;
    font-size: 20px;
}
/* .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background:none;
 } */
.form-login {
    position: absolute;
    background: rgba(246, 247, 248, 0.95);
    border-radius: 5px;
    margin: 0 auto;
    padding: 50px;
    width: 36%;
    z-index: 999;
    left: 400px; 
    opacity: 0;
}
.form-login .login-input {
    display: flex;
}
.move {
    transition: 1s;
    opacity: 1;
}

.form-login p input {
    border: 1px solid;
}
.form-login button {
    display: flex;
    justify-content: center;
}
.form-login .login-input {
    margin-bottom: 30px;
}
.form-login .login-input p {
    display: flex;
}
.form-login .login-input label {
    margin-right: 10px;
    flex: 0 0 90px;
}
.form-login .login-input input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    color: #000;
    border-radius: 3px;
}
.form-login .btn-login {
    width: 40%;
    margin: 0 auto;
    background: #05946a;
    color: #fff;
    border: 0;
    height: 55px;
}
.form-login .register {
    margin: 20px 0;
    text-align: center;
    
}
.form-login .register span {
    display: block;
    margin-bottom: 10px;
}
.form-login .register a {
    color: black;
}
.form-login .login-social {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
.form-login .login-social .flex {
    display: flex;
    justify-content: center;
}
.form-login .login-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 15px 5px;
    border-radius: 50%;
}
.form-login .login-social a:nth-child(1) {
    background: #4267b2;
}
.form-login .login-social a:nth-child(2) {
    background: #df4a31;
}
.form-login .login-social a:nth-child(3) {
    background: #3489c9;
}
.form-login .login-social a i {
    text-align: center;
    color: white;
    width: 22px;
    height: 22px;
    margin-left: 0px;
}