@media (max-width: 375px) {
    .wrap-glider {
        display: none;
    }
    .wrap-intro {
        display: none;
    }
    .header-area .main-header-area .logo-img img {
        width: 130px;
        height: 100px;
    }
    .onclick {
        display: none;
    }
    .call-now-button {
        left: 80% !important;
    }
    #phone {
        display: block !important;}
    .img_content1>img {
            width: 345px;
    }
    .col-xl-3,.col-md-6, .col-lg-3 {
            text-align: center;
    }
}
    /* #facebook {
        display: none;
    } */